# Database Configuration (Neon Postgres)
DATABASE_URL=postgresql://user:password@host/database?sslmode=require
DATABASE_URL_UNPOOLED=postgresql://user:password@host/database?sslmode=require

PGHOST=
PGHOST_UNPOOLED=
PGUSER=
PGDATABASE=
PGPASSWORD=

# Brevo (Sendinblue) Transactional Email API Key
BREVO_API_KEY=your_brevo_api_key_here
